node_modules
dist
out
build/icons
.DS_Store
.eslintcache
*.log*
*.db*
native/extractor/*.exe
native/native-mod/build
native/native-mod/target
native/native-mod/*.node
native/extractor/target
native/extractor/*.node

*.gen.ts